Resources:
  AdditionalVolume:
    Type: AWS::EC2::Volume
    Properties:
      Size: 20  # Specify the volume size in GiB
      AvailabilityZone: {"Fn::GetAtt": ["AWSEBAutoScalingGroup", "AvailabilityZones"]}
      Tags:
        - Key: Name
          Value: AdditionalVolume

option_settings:
  aws:autoscaling:launchconfiguration:
    BlockDeviceMappings: [
      {
        "DeviceName": "/dev/sdh",
        "Ebs": {"VolumeSize": "20"}
      }
    ]
